<div class="card">
    <div class="header">
        <h3>Spread Trends</h3>
        <span class="btnGroup" activeChildEmphasis>
            <a (click)="changeTrend('cases', '#1A73e8')" class="active" [activeEmphasis]="'active'">Confirmed</a>
            <a (click)="changeTrend('recovered', '#00C566')" [activeEmphasis]="'active'">Recovered</a>
            <a (click)="changeTrend('deaths', '#FF0019')" [activeEmphasis]="'active'">Deceased</a>
        </span>
    </div>
    <div class="trend">
        <covid-line-chart *ngIf="trendDataAvailable" [chartData]="getCurrentTrend()" [lineColor]="trendColor"></covid-line-chart>
        <span *ngIf="trendDataAvailable" class="stats" [ngStyle]="{color: trendColor}">
            <span class="trendType">{{ getTrendName() }}</span>
            <br>
            <span class="date">{{ getTrendDate() }}</span>
            <br>
            <span class="count">
                {{ getTrendCount() | numberFormat:'k'}}
                <span class="change">
                    {{ getTrendDelta() >= 0 ? '+' : ''}}{{ getTrendDelta() | numberFormat:'k'}}
                </span>
            </span>
        </span>
    </div>
</div>