.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.header h3{
    font-size: 1.4rem;
    text-transform: capitalize;
}

.header .btnGroup {
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    background-color: #F5F5F5;
    border-radius: 8px;
}

.header .btnGroup > a {
    padding: 0.8rem 1rem;
    text-transform: capitalize;
}

.header .btnGroup .active {
    background-color: #52586A;
    color: #FFF;
    border-radius: 8px;
}

.trend {
    position: relative;
}

.trend .chartContainer {
    overflow: auto;
}

.trend .stats {
    display: inline-block;
    position: absolute;
    top: -1rem;
    left: -1rem;
    color: #FF0019;
    padding: 1rem;
    border-radius: 8px;
    background-color: #eee;
}

.trend .stats .trendType,
.trend .stats .date {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

.trend .stats .count {
    display: inline-block;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 0.5rem;
}

.trend .stats .count .change {
    font-weight: 600;
    font-size: 1rem;
}

.message {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 500;
    color: #FF0019;
    text-align: center;
    text-transform: capitalize;
}

.absoluteCenter {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.maxHeight {
    height: 100%;
}

@media (min-width: 992px) and (max-width: 1020px) {
    .header{
        justify-content: flex-end;
    }

    .header h3 {
        display: none;
    }
}

@media(max-width: 400px) {
    .header{
        justify-content: flex-start;
    }

    .header h3 {
        display: none;
    }

    .trend .stats {
        display: none;
    }
}