.heading {
    font-size: 1.4rem;
    text-transform: capitalize;
    position: relative;
}

.heading::after {
    content: url('../../../assets/images/Twweter.svg');
    display: inline-block;
    margin-left: 0.5rem;
    position: relative;
    bottom: -3px;
}

.listView {
    margin-top: 1rem;
    position: relative;
    height: 100%;
    width: 100%;
}

.tweets {
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 2rem;
}

@media(max-width: 450px) {
    .listView {
        min-height: 350px;
    }
}