.heading {
    font-size: 2.4rem;
    font-weight: 500;
    color: #30313A;
    margin-bottom: 1rem;
}

.heading a {
    display: inline-flex;
    align-items: center;
    transition: ease-in-out 0.2s;
}

.heading a:hover {
    color: #FF0019;
}

.heading a fa-icon {
    font-size: 3.2rem;
    margin-right: 1rem;
}

.video .embed {
    outline: none;
    border: none;
    border-radius: 8px;
    width: 100%;
    min-height: 350px;
}

.video .description {
    font-size: 1.4rem;
    color: #30313A;
    font-weight: 500;
    margin-top: 1rem;
}

.gutterSpace-l {
    padding-left: 0.75rem !important;
}

.gutterSpace-r {
    padding-right: 0.75rem !important;
}

.no-gutter>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

@media (max-width: 1199px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .gutterSpace-l {
        padding-left: 0 !important;
    }
    
    .gutterSpace-r {
        padding-right: 0 !important;
    }
}

@media (max-width: 400px) {

    .heading {
        font-size: 1.8rem;
    }

    .video .embed {
        min-height: 300px !important;
    }
}

@media (max-width: 400px) {
    .video .embed {
        min-height: 200px !important;
    }
}