<div class="container">
    <div class="row px-4 py-4 no-gutter">
        <h3 class="col-md-12 heading">
            <a href="https://www.youtube.com/results?search_query=Must+knows+about+COVID-19">
                <fa-icon [icon]="youtubeIcon"></fa-icon>
                Must knows about COVID-19
            </a>
        </h3>
        <div class="col-md-6 mb-4 video gutterSpace-r">
            <div class="card">
                <iframe class="embed" src="https://www.youtube.com/embed/pKu8Bzq64iY" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="description">5 Symptoms of Corona Virus that you should know</p>
            </div>
        </div>
        <div class="col-md-6 mb-4 video gutterSpace-l">
            <div class="card">
                <iframe class="embed" src="https://www.youtube.com/embed/bPITHEiFWLc" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="description">Precautions to be taken to avoid corona virus</p>
            </div>
        </div>
        <div class="col-md-6 mb-4 video gutterSpace-r">
            <div class="card">
                <iframe class="embed" title="updates" src="https://www.youtube.com/embed/9qXZhG7I4qo" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="description">Common myths about corona virus and it's prevention</p>
            </div>
        </div>
        <div class="col-md-6 mb-4 video gutterSpace-l">
            <div class="card">
                <iframe class="embed" title="updates" src="https://www.youtube.com/embed/nsXMtSmAMWc" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="description">Things to do when in quarantine</p>
            </div>
        </div>
    </div>


    <div class="row px-5 py-5 no-gutter">
        <h3 class="col-md-12 heading">
            <a href="https://www.youtube.com/results?search_query=Latest+News+about+COVID-19">
                <fa-icon [icon]="youtubeIcon"></fa-icon>
                Latest News about COVID-19
            </a>
        </h3>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4 video gutterSpace-r">
            <div class="card">
                <iframe class="embed" src="https://www.youtube.com/embed/-Mk2BZRJvrw" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="description">Extension of lockdown in some states of India</p>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4 video gutterSpace-l">
            <div class="card">
                <iframe class="embed" src="https://www.youtube.com/embed/OKvi-2_o6y0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="description">PM Narendra Modi addressing the nation for the fifth time</p>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5 video gutterSpace-r">
            <div class="card">
                <iframe class="embed" src="https://www.youtube.com/embed/_-P-rUOPz_s" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="description">CoronaVirus Outbreak</p>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5 video gutterSpace-l">
            <div class="card">
                <iframe class="embed" src="https://www.youtube.com/embed/yL2WiojSFVk" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="description">How France is deeply impacted by CoronaVirus</p>
            </div>
        </div>
    </div>
</div>