.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner {
    display: flex;
}

.banner .icon {
    flex: 2;
    display: inline-block;
    align-self: center;
    margin-right: 2rem;
    font-size: 7.2rem;
    text-align: center;
    margin-top: 1rem;
}

.banner .content {
    flex: 3;
    align-self: center;
}

.banner .content .moreContent {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    padding: 1rem 1.5rem;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    border-radius: 8px;
}

.banner .content .description {
    display: inline-block;
    width: 100%;
    font-weight: 600;
    font-size: 1.6rem;
}

.banner .content .externalLink {
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1.5rem;
    text-transform: capitalize;
}

.banner .content .externalLink .arrow {
    font-size: 1.4rem;
    position: relative;
    bottom: -1px;
    margin-left: 0.5rem;
    transition: 0.2s ease-in;
}

.banner .content .externalLink:hover .arrow {
    margin-left: 1rem;
}

.carouselMarkers {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marker {
    display: inline-block;
    height: 7px;
    width: 7px;
    background-color: #F6E1E2;
    border-radius: 50%;
    margin-right: 1rem;
    transition: ease-in-out 0.2s;
}

.marker:last-child {
    margin-right: 0;
}

.marker.active {
    height: 11px;
    width: 11px;
    background: #FF0019;
}

.redBg {
    background-color: #FFEAEB;
    transition: 0.2s ease-in-out;
}

.redBg:hover {
    background-color: #FDD4D6;
}

.greenBg {
    background-color: #D9FFEF;    
    transition: 0.2s ease-in-out;
}

.greenBg:hover {
    background-color: #BCFFE3;
}

.blueBg {
    background-color: #d9e1eb;    
    transition: 0.2s ease-in-out;
}

.blueBg:hover {
    background-color: #bcd2ee;    
}

.redText {
    color: #FF0019;
}

.greenText {
    color: #00C566;
}

.blueText {
    color: #1a73e8;
}

@media (max-width: 450px) {
    .card {
        min-height: 185px;
    }

    .banner .icon {
        display: none;
    }
}

@media(max-width: 575px) {
    .card {
        min-height: 185px;
    }
}