<div class="card" (mouseenter)="stopRotation()" (mouseleave)="startRotation()">
    <div class="carouselItems">
        <div *ngIf="currentCarouselBanner === 0" class="banner">
            <span class="img">
                <img src="../../../assets/images/Illustration.svg" alt="" class="icon">
            </span>
            <div class="content">
                <a class="moreContent redText redBg">news &amp; updates</a>
                <span class="description">5 Symptoms of Corona Virus that you should know</span>
                <a class="externalLink redText redArrow">read more</a>
            </div>
        </div>
        <div *ngIf="currentCarouselBanner === 1" class="banner">
            <span class="img">
                <img src="../../../assets/images/Illustration.svg" alt="" class="icon">
            </span>
            <div class="content">
                <a class="moreContent greenText greenBg">donate</a>
                <span class="description">Donate 3rd world countries which are suffering</span>
                <a class="externalLink greenText greenArrow">donate now</a>
            </div>
        </div>
        <div *ngIf="currentCarouselBanner === 2" class="banner">
            <span class="img">
                <img src="../../../assets/images/Illustration.svg" alt="" class="icon">
            </span>
            <div class="content">
                <a class="moreContent redText redBg">news &amp; updates</a>
                <span class="description">5 Symptoms of Corona Virus that you should know</span>
                <a class="externalLink redText redArrow">read more</a>
            </div>
        </div>
    </div>
    <div class="carouselMarkers">
        <a class="marker" [ngClass]="{'active': currentCarouselBanner === 0}" (click)="changeBanner(0)"></a>
        <a class="marker" [ngClass]="{'active': currentCarouselBanner === 1}" (click)="changeBanner(1)"></a>
        <a class="marker" [ngClass]="{'active': currentCarouselBanner === 2}" (click)="changeBanner(2)"></a>
    </div>
</div>