<div class="card" (mouseenter)="stopRotation()" (mouseleave)="startRotation()">
    <div class="carouselItems">
        <div *ngIf="currentCarouselBanner === 0" class="banner">
            <fa-icon class="icon redText" [icon]="newsIcon"></fa-icon>
            <div class="content">
                <a class="moreContent redText redBg" [routerLink]="['/NewsAndUpdates']">updates</a>
                <span class="description">Trending Content on COVID-19 Worldwide</span>
                <a class="externalLink redText" [routerLink]="['/NewsAndUpdates']">
                    read more
                    <fa-icon class="arrow" [icon]="arrow"></fa-icon>
                </a>
            </div>
        </div>
        <div *ngIf="currentCarouselBanner === 1" class="banner">

            <fa-icon class="icon greenText" [icon]="donateIcon"></fa-icon>

            <div class="content">
                <a class="moreContent greenText greenBg" [routerLink]="['/HelpLinks']" [fragment]="'donate'">donate</a>
                <span class="description">Donate to 3rd World Suffering Countries</span>
                <a class="externalLink greenText greenArrow" [routerLink]="['/HelpLinks']" [fragment]="'donate'">
                    donate now
                    <fa-icon class="arrow" [icon]="arrow"></fa-icon>
                </a>
            </div>
        </div>
        <div *ngIf="currentCarouselBanner === 2" class="banner">

            <fa-icon class="icon blueText" [icon]="infoIcon"></fa-icon>

            <div class="content">
                <a class="moreContent blueText blueBg" [routerLink]="['/Videos']">Information</a>
                <span class="description">Must know COVID-19 Myths and Facts</span>
                <a class="externalLink blueText redArrow" [routerLink]="['/Videos']">
                    know more
                    <fa-icon class="arrow" [icon]="arrow"></fa-icon>
                </a>
            </div>
        </div>
    </div>
    <div class="carouselMarkers">
        <a class="marker" [ngClass]="{'active': currentCarouselBanner === 0}" (click)="changeBanner(0)"></a>
        <a class="marker" [ngClass]="{'active': currentCarouselBanner === 1}" (click)="changeBanner(1)"></a>
        <a class="marker" [ngClass]="{'active': currentCarouselBanner === 2}" (click)="changeBanner(2)"></a>
    </div>
</div>