<div class="card">
    <div class="header">
        <h3>COVID-19 Affected Areas</h3>
        <span class="legend">
            <span class="type">
                <span class="indicator severe"></span>
                <span class="description">Most Affected</span>
            </span>
            <span class="type">
                <span class="indicator moderate"></span>
                <span class="description">Less</span>
            </span>
        </span>
    </div>
    <div class="map">
        <google-chart
            [title]="chartConfig.title"
            [type]="chartConfig.type"
            [data]="chartConfig.data"
            [columnNames]="chartConfig.columns"
            [options]="chartConfig.options"
            (ready)="chartReady()"
        ></google-chart>
        <covid-loading class="absoluteCenter" [height]="50" [width]=50 *ngIf="loadingData && !errMessage"></covid-loading>
        <span class="absoluteCenter message" *ngIf="errMessage">{{errMessage}}</span>
    </div>
</div>