<div class="card">
    <span class="search">
        <img src="../../../assets/images/search.svg" alt="">
        <input type="text" placeholder="Search Location">
    </span>
    <ul class="countryData">
        <li class="card">
            <div class="countryStats">
                <span class="rise">United States</span>
                <span>{{123213 | numberFormat:"k"}} Affected | {{12323 | numberFormat:"k"}} Recovered</span>
            </div>
        </li>
        <li class="card">
            <div class="countryStats">
                <span class="rise">United States</span>
                <span>{{123213 | numberFormat:"k"}} Affected | {{12323 | numberFormat:"k"}} Recovered</span>
            </div>
        </li>
        <li class="card">
            <div class="countryStats">
                <span class="rise">United States</span>
                <span>{{123213 | numberFormat:"k"}} Affected | {{12323 | numberFormat:"k"}} Recovered</span>
            </div>
        </li>
        <li class="card">
            <div class="countryStats">
                <span class="rise">United States</span>
                <span>{{123213 | numberFormat:"k"}} Affected | {{12323 | numberFormat:"k"}} Recovered</span>
            </div>
        </li>
        <li class="card">
            <div class="countryStats">
                <span class="rise">United States</span>
                <span>{{123213 | numberFormat:"k"}} Affected | {{12323 | numberFormat:"k"}} Recovered</span>
            </div>
        </li>
        <li class="card">
            <div class="countryStats">
                <span class="rise">United States</span>
                <span>{{123213 | numberFormat:"k"}} Affected | {{12323 | numberFormat:"k"}} Recovered</span>
            </div>
        </li>
        <li class="card">
            <div class="countryStats">
                <span class="rise">United States</span>
                <span>{{123213 | numberFormat:"k"}} Affected | {{12323 | numberFormat:"k"}} Recovered</span>
            </div>
        </li>
        <li class="card">
            <div class="countryStats">
                <span class="rise">United States</span>
                <span>{{123213 | numberFormat:"k"}} Affected | {{12323 | numberFormat:"k"}} Recovered</span>
            </div>
        </li>
        <li class="card">
            <div class="countryStats">
                <span class="rise">United States</span>
                <span>{{123213 | numberFormat:"k"}} Affected | {{12323 | numberFormat:"k"}} Recovered</span>
            </div>
        </li>
        <li class="card">
            <div class="countryStats">
                <span class="rise">United States</span>
                <span>{{123213 | numberFormat:"k"}} Affected | {{12323 | numberFormat:"k"}} Recovered</span>
            </div>
        </li>
        <li class="card">
            <div class="countryStats">
                <span class="rise">United States</span>
                <span>{{123213 | numberFormat:"k"}} Affected | {{12323 | numberFormat:"k"}} Recovered</span>
            </div>
        </li>
        <li class="card">
            <div class="countryStats">
                <span class="rise">United States</span>
                <span>{{123213 | numberFormat:"k"}} Affected | {{12323 | numberFormat:"k"}} Recovered</span>
            </div>
        </li>
        <li class="card">
            <div class="countryStats">
                <span class="rise">United States</span>
                <span>{{123213 | numberFormat:"k"}} Affected | {{12323 | numberFormat:"k"}} Recovered</span>
            </div>
        </li>
        <li class="card">
            <div class="countryStats">
                <span class="rise">United States</span>
                <span>{{123213 | numberFormat:"k"}} Affected | {{12323 | numberFormat:"k"}} Recovered</span>
            </div>
        </li>
        <li class="card">
            <div class="countryStats">
                <span class="rise">United States</span>
                <span>{{123213 | numberFormat:"k"}} Affected | {{12323 | numberFormat:"k"}} Recovered</span>
            </div>
        </li>
        <li class="card">
            <div class="countryStats">
                <span class="rise">United States</span>
                <span>{{123213 | numberFormat:"k"}} Affected | {{12323 | numberFormat:"k"}} Recovered</span>
            </div>
        </li>
        <li class="card">
            <div class="countryStats">
                <span class="rise">United States</span>
                <span>{{123213 | numberFormat:"k"}} Affected | {{12323 | numberFormat:"k"}} Recovered</span>
            </div>
        </li>
        <li class="card">
            <div class="countryStats">
                <span class="rise">United States</span>
                <span>{{123213 | numberFormat:"k"}} Affected | {{12323 | numberFormat:"k"}} Recovered</span>
            </div>
        </li>
    </ul>
</div>