<header>
  <a class="logo" [routerLink]="['/']">
    <img src="../assets/images/virus.svg" alt="Virus">
    <span>covid'19</span>
  </a>
  <nav>
    <ul>
      <li title="Home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="navlink">
        <a [routerLink]="['/Dashboard']">
          <span>home</span>
          <fa-icon [icon]="homeIcon"></fa-icon>
        </a>
      </li>
      <li title="Frequently Asked Questions" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="navlink">
        <a [routerLink]="['/FrequentQuestions']">
          <span>faq</span>
          <fa-icon [icon]="faqIcon"></fa-icon>
        </a>
      </li>
      <li title="Helpful Links" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="navlink">
        <a [routerLink]="['/HelpLinks']">
          <span>helpful links</span>
          <fa-icon [icon]="helpIcon"></fa-icon>
        </a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>