<header>
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="../assets/images/virus.svg" alt="Virus">
      <span>covid'19</span>
    </a>
  </div>
  <nav>
    <a [routerLink]="['/Dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="navlink">home</a>
    <a [routerLink]="['/FrequentQuestions']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="navlink">faq</a>
    <a [routerLink]="['/HelpLinks']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="navlink">helpful links</a>
  </nav>
</header>
<main class="content container">
  <router-outlet></router-outlet>
</main>