<header>
  <a class="logo" [routerLink]="['/']">
    <img src="../assets/images/virus.svg" alt="Virus">
    <span>covid'19</span>
  </a>
  <nav>
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="navlink">
        <a [routerLink]="['/Dashboard']">home</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="navlink">
        <a [routerLink]="['/FrequentQuestions']">faq</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="navlink">
        <a [routerLink]="['/HelpLinks']">helpful
          links</a>
      </li>
    </ul>
  </nav>
</header>
<main class="content container">
  <router-outlet></router-outlet>
</main>