<div class="row px-4 py-5">
    <div class="col-md-6 mb-5 mr-5">
        <div class="card">
            <div class="content">
                National Helpline Numbers: <a>1075</a>(toll free) <a>+91-11-23978046</a>
                <span class="info">Source: Ministry of Health &amp; Family Welfare</span>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-5">
        <div class="card">
            <h3 class="header">
                Government of India Resources
            </h3>
            <div class="content">
                <div class="flex alignCenter spaceBetween mb2">
                    <div>
                        <h4>COVID-19 | MyGov.in</h4>
                        <span class="info">Government of India</span>
                    </div>
                    <a class="mainLink" href="https://www.mygov.in/covid-19/?cbps=1">
                        <fa-icon [icon]="linkIcon"></fa-icon> mygov.in
                    </a>
                </div>
                <div class="flex alignCenter spaceBetween">
                    <div>
                        <h4>Coronavirus Information - India | MyGov.in</h4>
                        <span class="info">Ministry of Health and Family Welfare, Govt. of India</span>
                    </div>
                    <a class="mainLink" href="https://www.mohfw.gov.in/">
                        <fa-icon [icon]="linkIcon"></fa-icon> mohfw.gov.in
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-5">
        <div class="card" [id]="'donate'">
            <h3 class="header">
                <fa-icon class="green" [icon]="donateIcon"></fa-icon> Donate
            </h3>
            <div class="content">
                <ul class="flex wrap">
                    <li class="mr mt">
                        <a class="secondaryLink equalWidthFlexItems" href="https://www.pmindia.gov.in/en/?query#">PM
                            CARES</a>
                    </li>
                    <li class="mr mt">
                        <a class="secondaryLink equalWidthFlexItems"
                            href="https://indiafightscorona.giveindia.org/support-families/">give
                            india</a>
                    </li>
                    <li class="mr mt">
                        <a class="secondaryLink equalWidthFlexItems" href="http://www.seedsindia.org/covid19/">SEEDS</a>
                    </li>
                    <li class="mr mt">
                        <a class="secondaryLink equalWidthFlexItems"
                            href="https://www.unitedwaymumbai.org/fight-covid">united way</a>
                    </li>
                    <li class="mr mt">
                        <a class="secondaryLink equalWidthFlexItems"
                            href="https://give4good.org.in/covid-19-donate">charities aid
                            foundation</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <h3 class="header">
                <a class="mainHeaderLink" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">
                    <fa-icon [icon]="linkIcon"></fa-icon> World Health Organization
                </a>
            </h3>
            <div class="content">
                <h4>Resources</h4>
                <ul class="flex wrap">
                    <li class="mt mr">
                        <a class="secondaryLink equalWidthFlexItems"
                            href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">public
                            advice</a>
                    </li>
                    <li class="mt mr">
                        <a class="secondaryLink equalWidthFlexItems"
                            href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/travel-advice">travel
                            advice</a>
                    </li>
                    <li class="mt mr">
                        <a class="secondaryLink equalWidthFlexItems"
                            href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/media-resources/press-briefings">media
                            resources</a>
                    </li>
                    <li class="mt mr">
                        <a class="secondaryLink equalWidthFlexItems"
                            href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/">situation
                            reports</a>
                    </li>
                    <li class="mt mr">
                        <a class="secondaryLink equalWidthFlexItems"
                            href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/myth-busters">mythbusters</a>
                    </li>
                    <li class="mt mr">
                        <a class="secondaryLink equalWidthFlexItems"
                            href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/technical-guidance">country
                            and technical guidance</a>
                    </li>
                    <li class="mt mr">
                        <a class="secondaryLink equalWidthFlexItems"
                            href="https://www.who.int/news-room/q-a-detail/q-a-coronaviruses">your
                            questions answered</a>
                    </li>
                    <li class="mt mr">
                        <a class="secondaryLink equalWidthFlexItems"
                            href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/media-resources/press-briefings">research
                            and development</a>
                    </li>
                    <li class="mt mr">
                        <a class="secondaryLink equalWidthFlexItems"
                            href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/events-as-they-happen">rolling
                            updates on coronavirus disease</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>