a {
    text-decoration: underline;
    color: #1A73E8;
    font-size: 1.6rem;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    width: 100%;
}

#WHOAbbreviation {
    display: none;
}

.header {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    line-height: 32px;
}

.header fa-icon {
    margin-right: 1rem;
    font-size: 3.2rem;
}

.contact .tel {
    display: inline-block;
}


.content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.flex {
    display: flex;
}

.equalWidthFlexItems {
    flex: 1;
}

.alignCenter {
    align-items: center;
}

.spaceBetween {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.info {
    font-size: 1.1rem;
    font-weight: 500;
    width: 100%;
    display: inline-block;
}

.mainLink {
    display: inline-flex;
    align-items: center;
    border: 1px solid #DADCE0;
    border-radius: 24px;
    padding: 1rem 2rem;
    outline: none;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: #000;
    max-width: 200px;
}

.mainLink:hover {
    background-color: #F4F8FE;
}

.mainLink fa-icon {
    margin-left: -0.7rem;
    margin-right: 1rem;
    color: #1A73E8;
    font-size: 2.4rem;
}

.mainHeaderLink {
    display: inline-flex;
    align-items: center;
    outline: none;
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.mainHeaderLink fa-icon {
    margin-right: 1rem;
    color: #1A73E8;
    font-size: 3.2rem;
}

.secondaryLink {
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid #DADCE0;
    color: #1A73E8;
    transition: 0.2s ease-in-out;
    outline: none;
    width: 100%;
}

.secondaryLink:hover {
    background-color: #f4f8fe;
    border-color: #1a73e8;
}

.mt {
    margin-top: 2rem;
}

.mb {
    margin-bottom: 2rem;
}

.mb2 {
    margin-bottom: 3rem;
}

.mr {
    margin-right: 1.5rem;
}

.green {
    color: #00C566;
}

.no-gutter>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.contact {
    padding-right: 0.75rem !important;
}
.govInfo {
    padding-right: 0.75rem !important;
}
.donate {
    padding-left: 0.75rem !important;
}

@media (max-width: 1400px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .contact {
        margin-right: 0 !important;
        padding-right: 0 !important;
    }
    .govInfo {
        padding-right: 0 !important;
    }
    .donate {
        padding-left: 0 !important;
    }
    #charitiesAidFoundation {
        order: 1;
    }
    #unitedWay {
        order: 2;
    }
    #publicAdvice {
        order: 0;
    }
    #travelAdvice {
        order: 1;
    }
    #mediaResources {
        order: 3;
    }
    #situationReports {
        order: 4;
    }
    #mythbusters {
        order: 5;
    }
    #countryAndTechnicalGuidance {
        order: 2;
    }
    #yourQuestionsAnswered {
        order: 6;
    }
    #researchAndDevelopment {
        order: 7;
    }
}

@media (max-width: 576px) {
    #unitedWay {
        order: 1;
    }
    
    #charitiesAidFoundation,
    #unitedWay,
    #publicAdvice,
    #travelAdvice,
    #mediaResources,
    #situationReports,
    #mythbusters,
    #countryAndTechnicalGuidance, 
    #yourQuestionsAnswered,
    #researchAndDevelopment {
        order: 0;
    }
}

@media (max-width: 450px) {
    .resource {
        flex-direction: column;
    }

    .resource .mainLink {
        margin-top: 1rem;
    }

    .resource {
        align-items: flex-start;
    }

    #WHOAbbreviation {
        display: inline-flex;
    }

    #WHO {
        display: none;
    }
}

@media (max-width: 400px) {
    li {
        width: 100%; 
    }

    li.mr {
        margin-right: 0;
    }

    #WHO {
        font-size: 1.6rem;
        text-align: left;
    }
}