a {
    text-decoration: underline;
    color: #1A73E8;
    font-size: 1.6rem;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.header {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    line-height: 32px;
}

.header fa-icon {
    margin-right: 1rem;
    font-size: 3.2rem;
}

.content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.flex {
    display: flex;
}

.equalWidthFlexItems {
    flex: 1;
}

.alignCenter {
    align-items: center;
}

.spaceBetween {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.info {
    font-size: 1.1rem;
    font-weight: 500;
    width: 100%;
    display: inline-block;
}

.mainLink {
    display: inline-flex;
    align-items: center;
    border: 1px solid #DADCE0;
    border-radius: 24px;
    padding: 1rem 2rem;
    outline: none;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.mainLink:hover {
    background-color: #F4F8FE;
}

.mainLink fa-icon {
    margin-left: -0.7rem;
    margin-right: 1rem;
    color: #1A73E8;
    font-size: 2.4rem;
}

.mainHeaderLink {
    display: inline-flex;
    align-items: center;
    outline: none;
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.mainHeaderLink fa-icon {
    margin-right: 1rem;
    color: #1A73E8;
    font-size: 3.2rem;
}

.secondaryLink {
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid #DADCE0;
    color: #1A73E8;
    transition: 0.2s ease-in-out;
    outline: none;
}

.secondaryLink:hover {
    background-color: #f4f8fe;
    border-color: #1a73e8;
}

.mt {
    margin-top: 2rem;
}

.mb {
    margin-bottom: 2rem;
}

.mb2 {
    margin-bottom: 3rem;
}

.mr {
    margin-right: 1.5rem;
}

.green {
    color: #00C566;
}