.card {
    text-align: center;
}

.card > h3 {
    color: #30313A;
    font-size: 1.8rem;
    font-weight: 600;
}

.card > .progressBar {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.card > .count {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    color: #52586A;
    text-transform: capitalize;
}

.card .affectedCount {
    padding-right: 1rem;
    border-right: 1px solid #52586A;
}

.card .recoveredCount {
    padding-left: 1rem;
}

.message {
    display: inline-block;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    color: #FF0019;
    text-align: center;
    text-transform: capitalize;
}

.absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}