@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

html {
    font-size: 10px;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    cursor: pointer;
}