
.no-gutter>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

@media (max-width: 1199px) {
    .container {
        max-width: 100%;
        /* padding: 1.5rem; */
    }
}

@media (max-width: 768px) {
    covid-carousel {
        order: 1;
    }
    covid-world-map {
        order: 2;
    }
    covid-trend {
        order: 3;
    }
}

@media (max-width: 576px) {
   
    /* #countryRecord
    #map
    #trend
    #carousel */

    #total,
    #active,
    #recoveryTracker {
        padding-right: 0.75rem !important;
    }

    #recovered,
    #death {
        padding-left: 0.75rem !important;
    }
}

@media (max-width: 450px) {
    covid-recovery-tracker {
        display: none;
    }
    covid-tweets.col-7 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #tweets {
        padding-left: 0 !important;
    }
}

