/* .container {
    max-width: 1366px;
} */

/* .no-gutter {
    margin-right: 0;
    margin-left: 0;
} */

.no-gutter>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

@media (max-width: 450px) {
    covid-recovery-tracker {
        display: none;
    }
    covid-tweets.col-7 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .rGutter {
        padding-right: 1.5rem !important;
    }
}

@media (max-width: 768px) {
    covid-carousel {
        order: 1;
    }
    covid-world-map {
        order: 2;
    }
    covid-trend {
        order: 3;
    }
}